# Import bazelrc presets
import %workspace%/tools/preset.bazelrc

# project-specific settings
startup --windows_enable_symlinks
common --lockfile_mode=off

# Allows tests to run bazelisk-in-bazel, since this is the cache folder used
common:ci --disk_cache=~/.cache/bazel
test:ci --test_env=XDG_CACHE_HOME

# Load user-specific settings, if any
try-import %workspace%/.bazelrc.user
